<button class="btn-add" (click)="navigateToAddEvent()">Ajouter un événement</button>

<div class="event-table-container">
  <table class="event-table">
    <thead>
      <tr>
        <th>Événement</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Artistes</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td>{{ event.label }}</td>
        <td>{{ event.startDate | date:'dd/MM/yyyy' }}</td>
        <td>{{ event.endDate | date:'dd/MM/yyyy' }}</td>
        <td>
          <ul>
            <li *ngFor="let artist of event.artists">
              {{ artist.label }}
            </li>
          </ul>
        </td>
        <td>
          <button (click)="detailsEvent(event.id)" class="btn-details">Details</button>
          <button (click)="deleteEvent(event.id)" class="btn-delete">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <button (click)="decrementPage()" [disabled]="currentPage === 0">Précédent</button>
    <button (click)="incrementPage()" [disabled]="currentPage === totalPages - 1">Suivant</button>
  </div>
</div>
<!-- Modal -->
<div *ngIf="selectedEvent" class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Détails de l'événement</h2>
    <form (ngSubmit)="updateEvent()">
      <label>
        Nom de l'événement :
        <input type="text" [(ngModel)]="selectedEvent.label" name="label" required />
      </label>
      <label>
        Date de début :
        <input type="date" [(ngModel)]="selectedEvent.startDate" name="startDate" required />
      </label>
      <label>
        Date de fin :
        <input type="date" [(ngModel)]="selectedEvent.endDate" name="endDate" required />
      </label>

      <!-- Gestion des artistes associés -->
      <label>
        Artistes associés :
        <ul>
          <li *ngFor="let artist of selectedEvent.artists">
            {{ artist.label }} 
            <button type="button" (click)="detachArtist(selectedEvent.id, artist.id)">Détacher</button>
          </li>
        </ul>
      </label>

      <!-- Sélectionner de nouveaux artistes à associer -->
      <label>
        Ajouter un artiste :
        <select [(ngModel)]="selectedArtistId" name="newArtist">
          <option *ngFor="let artist of availableArtists" [value]="artist.id">{{ artist.label }}</option>
        </select>
        <button type="button" (click)="attachArtist(selectedEvent.id, selectedArtistId)">Associer</button>
      </label>

      <div class="modal-actions">
        <button type="submit" class="btn-details">Mettre à jour</button>
        <button type="button" class="btn-delete" (click)="closeModal()">Annuler</button>
      </div>
    </form>
  </div>
</div>


