<div class="event-table-container">
  <div class="event-table-header">
    <h1>Liste des événements</h1>
    <button class="btn-add" (click)="navigateToAddEvent()">Ajouter un événement</button>
  </div>

  <table class="event-table">
    <thead>
      <tr>
        <th>Événement</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Artistes</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td>{{ event.label }}</td>
        <td>{{ event.startDate | date:'dd/MM/yyyy' }}</td>
        <td>{{ event.endDate | date:'dd/MM/yyyy' }}</td>
        <td>
          <ul>
            <li *ngFor="let artist of event.artists">
              {{ artist.label }}
            </li>
          </ul>
        </td>
        <td>
          <button (click)="navigateToDetail(event)" class="btn-details">Détails</button>
          <button (click)="deleteEvent(event.id)" class="btn-delete">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <button (click)="decrementPage()" [disabled]="currentPage === 0">Précédent</button>
    <button (click)="incrementPage()" [disabled]="currentPage === totalPages - 1 || events.length < 10">Suivant</button>
  </div>
</div>


<!-- Popin d'information -->
<div *ngIf="showPopin" class="modal-overlay">
  <div class="modal-content">
    <p>{{ popinMessage }}</p>
    <button class="btn-close" (click)="closePopin()">Fermer</button>
  </div>
</div>

<!-- Popin de confirmation pour la suppression -->
<div *ngIf="showDeleteConfirmation" class="modal-overlay">
  <div class="modal-content">
    <p>Êtes-vous sûr de vouloir supprimer cet événement ?</p>
    <button class="btn-delete" (click)="confirmDeleteEvent()">Confirmer</button>
    <button class="btn-close" (click)="cancelDelete()">Annuler</button>
  </div>
</div>