<div class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-modal" (click)="closeModal()">&times;</button>
    
    <h2>Créer un nouvel artiste</h2>
    
    <form (ngSubmit)="createArtist()" #artistForm="ngForm">
      <div>
        <label for="label">Nom de l'artiste :</label>
        <input
          type="text"
          id="label"
          [(ngModel)]="newArtist.label"
          name="label"
          required
          minlength="3"
          #labelInput="ngModel"
        />
        <div *ngIf="labelInput.invalid && (labelInput.dirty || labelInput.touched)" class="error-message">
          <small *ngIf="labelInput.errors?.['required']">Le nom est obligatoire.</small>
          <small *ngIf="labelInput.errors?.['minlength']">Le nom doit contenir au moins 3 caractères.</small>
        </div>
      </div>

      <div>
        <h3>Événements :</h3>
        <div class="events-list-container">
          <div *ngFor="let event of events" class="event-item">
            <label>
              <input type="checkbox" 
                     [checked]="selectedEventIds.includes(event.id)"
                     (change)="toggleEventSelection(event.id)">
              {{ event.label }}
            </label>
          </div>
        </div>
      </div>

      <div class="modal-actions">
        <button type="submit" class="btn-add" [disabled]="!artistForm.form.valid">Créer</button>
        <button type="button" class="btn-delete" (click)="closeModal()">Annuler</button>
      </div>
    </form>

   <!-- Popin pour messages -->
   <div *ngIf="showPopin" class="modal-overlay">
     <div class="modal-content info-message">
       <p>{{ popinMessage }}</p>
       <button class="btn-close" (click)="closePopin()">Fermer</button>
     </div>
   </div>

  </div>
</div>