<div *ngIf="artist" class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Détails de l'artiste</h2>
    <form (ngSubmit)="updateArtist()" #artistForm="ngForm">
      <label>
        Nom de l'artiste :
        <input type="text" [(ngModel)]="artist.label" name="label" required minlength="3" #labelInput="ngModel" />
      </label>
      <div *ngIf="labelInput.invalid && (labelInput.dirty || labelInput.touched)" class="error-message">
        <small *ngIf="labelInput.errors?.['required']">Le nom est obligatoire.</small>
        <small *ngIf="labelInput.errors?.['minlength']">
          Le nom doit contenir au moins 3 caractères.
        </small>
      </div>
      <div class="modal-actions">
        <button type="submit" class="btn-details" [disabled]="artistForm.invalid">Mettre à jour</button>
        <button type="button" class="btn-delete" (click)="closeModal()">Annuler</button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="popinMessage" class="modal-overlay" (click)="closePopin()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Notification</h2>
    <p>{{ popinMessage }}</p>
    <div class="modal-actions">
      <button class="btn-details" (click)="closePopin()">OK</button>
    </div>
  </div>
</div>