<div *ngIf="selectedArtist" class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-modal" (click)="closeModal()">&times;</button>
    <h2>Détails de l'artiste</h2>
    <form (ngSubmit)="updateArtist()" #artistForm="ngForm">

      <label for="label">
        <span class="required">*</span> Nom de l'artiste :
        <input type="text" [(ngModel)]="selectedArtist.label" name="label" required minlength="3"
          #labelInput="ngModel" />
        <div *ngIf="labelInput.invalid && (labelInput.dirty || labelInput.touched)" class="error-message">
          <small *ngIf="labelInput.errors?.['required']">Le nom est obligatoire.</small>
          <small *ngIf="labelInput.errors?.['minlength']">Le nom doit contenir au moins 3 caractères.</small>
        </div>
      </label>

      <div class="modal-actions">
        <button type="submit" class="btn-details"
          [disabled]="!artistForm.form.valid">
          Mettre à jour
        </button>
        <button type="button" class="btn-delete" (click)="closeModal()">Annuler</button>
      </div>
      
      <!-- Sélection des événements -->
      <div>
        <h3>Association des événements</h3>
        <div class="events-list-container">
          <div *ngIf="availableEvents.length > 0; else noEvents">
            <div *ngFor="let event of availableEvents" class="event-item">
              <span>{{ event.label }}</span>
              <button type="button" (click)="toggleAssociation(event)" [class.associate]="!event.associated"
                [class.dissociate]="event.associated">
                {{ event.associated ? 'Dissocier' : 'Associer' }}
              </button>
            </div>
          </div>
          <ng-template #noEvents>
            <p class="no-events-message">Aucun événement n'est disponible.</p>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Popin de confirmation -->
<div *ngIf="showPopin" class="modal-overlay">
  <div class="modal-content info-message">
    <p>{{ popinMessage }}</p>
  </div>
</div>